@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

.App {
  text-align: center;
  font-family: 'Single Day', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main_map {
  height: 20px;
}
.leaflet-container {
  width: 90%;
  height: 80vh;
  margin-top: 0px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #04034E;
  float: left;
}
.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
